body {
    font-family: Arial;
    margin: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 40px;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #1e3c72;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

footer {
    background: #1e3c72;
    color: white;
    padding: 15px;
}